
.btn-outline-success{
    background-color: rgb(238, 40, 40);
    color: rgb(255, 255, 255);
    border: none;

}

/* .navbar-nav{
    background-image: url('https://mdbootstrap.com/img/new/fluid/city/018.jpg');
} */

.nav-item{
    color:rgb(255, 255, 255)
}

li.nav-item{
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255);
}


h1{
    padding-top: 250px;
    text-align: center;
    color: white;
    font-size: 115px;
    font-weight: bold;
}

p{
    color:rgba(78, 76, 76, 0.698);
}


form{
    text-align: center;
}
.form-group{
    padding-left:25%;
    padding-right: 25%;
    text-align: center;
}

.btn-primary {
    background: rgb(192, 88, 88);
    color: #ffffff;
    border: none;
    border-radius: 0%;
}


.dropdown-menu{
    background-color: rgb(190, 91, 91);
}

.dropdown-item{
    color: white;
}